parameters:
  level: 9
  paths:
    - src
    - tests

  treatPhpDocTypesAsCertain: false

  ignoreErrors:
    -
      identifier: missingType.iterableValue
    -
      identifier: missingType.generics
