name: Audit

on: [ push, pull_request ]

jobs:
  audit:
    name: Audit
    strategy:
      matrix:
        php-version: [ '8.1', '8.2' ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (Push)
        uses: actions/checkout@v3
        if: github.event_name == 'push'
        with:
          fetch-depth: 0

      - name: Checkout (PR)
        uses: actions/checkout@v3
        if: github.event_name == 'pull_request'
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2
          coverage: xdebug
        env:
          fail-fast: true

      - name: Get composer cache directory
        id: composer-cache
        run: echo "DIR=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.DIR }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: |
          echo "::group::composer install"
          composer install --no-interaction
          echo "::endgroup::"
          echo "::group::phpunit install"
          vendor/bin/simple-phpunit install
          echo "::endgroup::"

      - name: Auditor
        uses: docker://nbgrp/auditor:latest

      - name: Tests
        run: vendor/bin/simple-phpunit

      - name: Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./clover.xml
